@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--very-dark-blue-main-BG);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
}

main {
    width: 350px;
    /* height: 550px; */
    border-radius: 1rem;
    background-color: var(--very-dark-blue-card-BG);
    padding: 1.5rem;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
    color: var(--white);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    color: var(--cyan);
    text-decoration: none;
}

/* ------ Mobile First ------- */
.img-container {
    position: relative;
    border-radius: 1rem;
}

.img-container img {
    width: 100%;
    border-radius: 1rem;
}

#img-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    top: 0;
    background-color: rgba(0, 255, 247, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease 1s;
}

#img-hover>img {
    width: 20%;
    height: 20%;
}

#img-hover:hover {
    opacity: 1;
    cursor: pointer;
}

p {
    font-size: 1rem;
}

#nft-name {
    color: var(--white);
    margin: 1rem 0;
    font-size: 1.5rem;
}

#nft-name:hover {
    color: var(--cyan);
    cursor: pointer;
}

#nft-description {
    color: var(--soft-blue);
    font-weight: 300;
}

#pricing-container {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

#pricing-container div {
    width: 100%;
    display: flex;
}

#current-price-block img {
    margin-right: 5px;
}

#current-price-block p {
    color: var(--cyan);
    font-weight: 600;
}

#price-time-block {
    justify-content: flex-end;
}

#price-time-block img {
    margin-right: 5px;
}

#price-time-block p {
    color: var(--soft-blue);
    font-weight: 300;
}

.creator-info-container {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(139, 172, 218, .3);
    padding: 1rem 0;
}

.creator-info-container img {
    width: 35px;
    border: 2px solid var(--white);
    border-radius: 1.5rem;
    margin-right: 15px;
}

.creator-info-container p {
    color: var(--soft-blue);
    font-weight: 300;
}

.creator-info-container p>b {
    font-weight: 400;
    color: var(--white);
}

.creator-info-container p>b:hover {
    color: var(--cyan);
    cursor: pointer;
}